@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  font-family: 'Poppins', sans-serif;
  /* background: conic-gradient(from 180deg at 50% 50%, #f4b700cc -67.5deg, #f4b700cc 43.12deg, #f4b700cc 292.5deg, #f4b700cc 403.12deg); */

  background: conic-gradient(from 180deg at 50% 50%, #F4B900 -67.5deg, #EFCB5C 43.12deg, #F4B900 292.5deg, #EFCB5C 403.12deg);
}
.main-header{
  display: flex;
  border-bottom: 0.1rem solid black;
  /* justify-content: center; */
}
.main-header .heading img{
  width: 4rem;
  margin:0.3rem 1rem;
}
.heading-right{
margin: auto;
/* margin-right: 2rem; */
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
}
.heading-right .heading-items{
  
  
  margin:0 2rem;
  /* padding:0.5rem ; */
  color: #FCFFFE;
  background: linear-gradient(180deg, #21242B 89.58%, rgba(92, 149, 250, 0) 100%);
border-radius: 5.0rem 1.0rem 5.0rem 5.0rem;
  
}
.heading-right .heading-items p{
  text-transform: uppercase;
  font-size: 1rem;
  margin:0.8rem;
}
.desc-container{
  /* background-color: chartreuse; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 3rem;
  padding: 1rem;
}
.desc-container p{
  width: 40rem;
  color: #21242B;
  font-weight: bold;
/* background-color: aqua; */
}
.desc-items img{
width: 22rem;

}
/* Footer section  */
.main-footer{
background-color: #21242B;
border-radius: 2rem 2rem 0rem 0rem;
padding:0.5rem ;
display: flex;
align-items: center;
justify-content: space-between;
}
.main-footer .footer-items-left{
  margin-left:4rem ;
  
}
.main-footer .footer-items-right{
  margin-right: 4rem;
}
.main-footer .footer-items p{
  color: #FCFFFE ;
}