@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  font-family: 'Poppins', sans-serif;
  background: conic-gradient(from 180deg at 50% 50%, #f4b700cc -67.5deg, #f4b700cc 43.12deg, #f4b700cc 292.5deg, #f4b700cc 403.12deg);
}
.main-header{
  display: flex;
  border-bottom: 0.1rem solid black;
  /* justify-content: center; */
}
.heading-right{
margin: auto;
/* margin-right: 2rem; */
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
}
.heading-right .heading-items{
  
  
  margin:0 2rem;
  /* padding:0.5rem ; */
  color: #FCFFFE;
  background: linear-gradient(180deg, #2975FD 89.58%, rgba(92, 149, 250, 0) 100%);
border-radius: 5.0rem 1.0rem 5.0rem 5.0rem;
  
}
.heading-right .heading-items p{
  text-transform: uppercase;
  font-size: 1rem;
  margin:0.8rem;
}
.desc-container{
  /* background-color: chartreuse; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
  padding: 1rem;
}
.desc-container p{
  width: 50rem;
  color: #21242B;
  font-weight: bold;

}
.desc-items img{
width: 18rem;
}